body {
  margin-top: 20px;
}

.menu {
  margin-bottom: 20px;
}

.popup {
  max-width: 400px !important;
}

.card-image {
  height: 350px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
}

.filterMenu {
  margin-top: 50px !important;
}

.orderImage {
  height: 80px !important;
  width: 80px !important;
}

.order form {
  margin-top: 20px;
}

.order .list {
  border-bottom-width: 1px;
  border-bottom-color: rgba(128, 128, 128, 0.14);
  border-bottom-style: solid;
}

.order input {
  width: 50px !important;
  text-align: center;
}

.clearBtn {
  margin-bottom: 5px !important;
  background-color: rgba(34,36,38,.15) !important;
}

.totalLine {
  font-weight: bold;
  font-size: 20pt;
}
